<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../pw-form/pw-form.html">
<link rel="import" href="../pw-list/pw-list.html">

<dom-module id="pw-contacts1">
  <template>
    <style>
      :host {
        display: block;
      }
      
      div{
        padding: 10px;
        border: 2px solid black;
      }
    </style>

    <div>
      <pw-form></pw-form>
      <pw-list></pw-list>
    </div>

  </template>

  <script>
    /**
     * `pw-contacts1`
     * lista de Contactos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwContacts1 extends Polymer.Element {
      static get is() { return 'pw-contacts1'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'pw-contacts1'
          }
        };
      }
    }

    window.customElements.define(PwContacts1.is, PwContacts1);
  </script>
</dom-module>
